/* :root{  --pri-text-color: #212121 } 
.main{ background-color: var(--pri-text-color)} */

:root {
    --primary-text-color: #212121;
    --focus-text-color: #2196F3;
    --other-text-color: #FFFFFF;
    --logo-text-color: #000000;
    --advantage-text-color: #757575;
}



body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: #ffffff;
}

*{ outline: 1px solid red;}


a { margin: 0;
    text-decoration: none;
}

.img { display: block;
    max-width: 100%;
    height: auto}

address {
    list-style-type: none;
    text-decoration: none;
}

.list {margin: 0px;
    list-style-type: none;
}

.conteiner {margin: 0 auto;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */

.Logo {

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-text-color)
}

.logo-header {
    margin-right: 95px;
}


.conteiner-header {
    height: 80px;
    align-items: center;
    display: flex;
}

.nav-list {
    padding-inline-start: 0px;
    display: flex;
}

.nav-list>.link:not(:last-child) {
    margin-right: 50px;
}



.logospan {
    color: var(--focus-text-color);
}


.activ.corrent {
    color: var(--focus-text-color);
}

.nav-knopky {
    padding: 4px 4px;
    color: var(--logo-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.kontakt-list {
    padding-inline-start: 0;
    margin-left: auto;
}

.communication {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.communication-tel {
    margin-left: 50px;
}

.communication-mail,
.communication-tel {
    padding: 4px 4px;
    color: var(--advantage-text-color)
}



.link :hover,
.link :focus {
    color: var(--focus-text-color);
}

/* main */



/* <!-- hero --> */
.hero-wraper {
    background-color: #2F303A;

}

.hero {
    background-color: #2F303A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title {
    width: 700px;
    margin: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--other-text-color)
}
.button-hero{ margin-top: 30px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-family: 'Roboto', sans-serif;
    background-color: var(--focus-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--other-text-color);
    padding: 10px 32px 10px 32px;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px}


    


/* advantage firm */

.advantage-section {
    padding-top: 94px;
}

.advantage-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.advantage-list-item:not(:last-child) {
    margin-right: 30px;

}

.advantage-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantage-title-two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantage-text {

    font-size: 14px;
    line-height: 1.7;
    color: var(--advantage-text-color)
}


/* <!-- Whot working --> */

.conteiner-working {
    padding: 94px 0px 94px 0px;
}

.working-list {
    padding: 0px;
    display: flex;
    padding-inline-start: 0px;
    flex-direction: center;


}

.working-list-item:not(:last-child) {
    margin-right: 30px;
}

.foto { display: block;
    }

.title-section {
    margin: 0 0 50px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


/* <!-- Our team --> */

.conteiner-team {
    background: #F5F4FA
}

.conteiner-team-list {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    padding-inline-start: 0px;
    display: flex;
    margin: 0;
}

.team-list-icon {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team-list-icon:not(:last-child) {
    margin-right: 30px;
}

.team-title-name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.team-post {padding-bottom: 30px;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--advantage-text-color);
}

/* footer */

.footer {
    height: 252px;
    background-color: #2F303A;
}

.conteiner-footer {
    background-color: #2F303A;
    padding-top: 60px;
    
}


.logospan-footer {
    color: var(--other-text-color);
}

.logo-wraper {
    margin-bottom: 20px;
}

.list.address-list {margin: 0px;
    padding: 0;
}

.Address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--other-text-color);
}
.foter-otstup{ margin-top: 9px;}

.communication-footer {margin-top: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

.galeria {
    padding: 96px 0px 92px 0px;
}


.btn-list {
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    margin: 0px;

}

.bnt-link:not(:last-child) {
    margin-right: 8px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 0;
}

.img{
    max-width: 100%;
    height: auto}

.list-portfolio-icon { display: block;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

}
.foto-portfilio{ display: block;}

.list-portfolio-icon:nth-child(3n) {
    margin-right: 0;
}

.portfolio-icon-text {width: 370px;
    padding: 20px 24px 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}



.title-galety {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.bnt-portfolio:not(:last-child) {
    margin-right: 8px;
}

.bnt-portfolio {
    margin-bottom: 50px;
    padding: 6px 22px 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-text-color)
}

.bnt-link :hover,
.bnt-link :focus,
.bnt-link :active {
    background-color: var(--focus-text-color);
    color: var(--other-text-color);
}

.title-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.text-portfolio {

    font-size: 16px;
    line-height: 1.9;
    color: var(--advantage-text-color);
}

.communication-footer:hover,
.communication-footer:focus,
.Address-link:hover,
.Address-link:focus {
    color: var(--focus-text-color);
}